{
  "extends": "tcd/configs/react",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "import": "readonly"
  },
  "rules": {
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "never", "children": "never" }
    ],
    // Prettier conflicts
    "indent": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "space-before-function-paren": "off",
    "newline-per-chained-call": "off",

    "react/jsx-curly-newline": "off"
  }
}
