{
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none"
}
